@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'OpenSans', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 50px;
}
